.card, .card-body {
    background-color: #E7E5E4;
    border-color: transparent;

}

header.header {
    background-color: #F5F5F4;
}

footer.footer {
    background-color: #F5F5F4;
}

.btn-outline-warning {
    border-width: 4px;
}

.carousel-item{
    height:32rem;
    background:#777;
}

p.thick {
    font-weight: bold;
  }
.map{
    height: 250px;
    width: 250px;
}

.form-control {
    background-color: #E7E5E4;
    border: 0;
}

img.carousel-item {
    object-position: bottom center;
}